<div class="slider">
    <div class="row">
        <div class="title-slider">
            <p>
                <span class="layer-1">THE WORLD'S</span>
                <span class="layer-2">BEST</span>
            </p>
            <span class="layer-3">auto parts</span>
            <p class="slider-text">
                We are the leading auto parts company with the world-wide reputation
                <br>
                of premium quality products and maintenace services.
            </p>
            <div class="form-wrapper">
                <form class="form">
                    <input type="email" placeholder="YOUR EMAIL">
                    <button type= "submit">
                        SUBSCRIBE
                     </button> 
                </form>
            </div>
        </div>
    </div>
</div>