@import '../../../shared/styles/variables';

.row{
    margin: 0 0 -65px 0;
    height: 750px;
    width: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../../../../assets/images/slide-1-bg.jpg);
    .title-slider{
        position: absolute;
        top: 159px;
        left: 125px;
        .layer-1{
            font-size: 79px;
            font-family: $secondary-font;
            color: $primery-color;
            line-height: 95px;
            @media screen and (max-width:$media-xxl){
                font-size: 74px;
             }
             @media screen and (max-width:$media-xl){
                font-size: 61px;
             }
            
        }
        .layer-2{
          font-size: 79px;
          font-family: $secondary-font;
          color: $primery-text-color;
          margin: 0 0 0 10px;
          @media screen and (max-width:$media-xxl){
            font-size: 74px;
         }
         @media screen and (max-width:$media-xl){
            font-size: 61px;
         }
        }
        .layer-3{
            font-size: 64px;
            font-family: $monserat-regular;
            color: $primery-text-color;
            line-height: 40px;
            @media screen and (max-width:$media-xxl){
                font-size: 59px;
             }
             @media screen and (max-width:$media-xl){
                font-size: 49px;
             }
        }
        .slider-text{
            margin: 35px 0 0 0;
            font-size: 13px;
            line-height: 22px;
            font-family: $primary-font;
            color: rgba(255, 255, 255, 0.55);
        }
        .form-wrapper{
            margin: 55px 0 0 0;
            .form{
                input{
                    width: 296px;
                    height: 49px;
                    outline: none;
                    background-color: rgba(255, 255, 255, 0.07);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 50px;
                    padding: 0 24px;
                    font-size: 13px;
                    color: $primery-text-color;
                    font-family: $primary-font;
                    margin: 0 16px 0 0;
                }
            }

        }
    }
    @media screen and (max-width:$media-xxl){
        height: 700px;
     }
     @media screen and (max-width:$media-xl){
        height: 580px;
        .title-slider{
            left: 100px;
            .layer-1{
                font-size: 59px;
                line-height: 21px;
            }
            .layer-2{
                font-size: 59px;
                line-height: 21px;
            }
            .layer-3{
                font-size: 47px;
            }

        }
      

     }
     @media screen and (max-width:$media-lg){
        height: 490px;
        .slider-text{
            display: none;
        }
        .title-slider{
            top: 120px;
            left: 80px;
            .layer-1{
                font-size: 51px;
                line-height: 10px;
            }
            .layer-2{
                font-size: 51px;
                line-height: 10px;
            }
            .layer-3{
                font-size: 40px;
            }
        }
     }
     @media screen and (max-width:$media-md){
        height: 390px;
        .title-slider{
          width: 100%;
          left: 0;
          text-align: center;
        }
        .slider-text{
            display: none;
        }
        .form-wrapper{
            display: none;
        }
     }
    
}