<div class="container">
    <div class="button-wrapper">
        <button type="button" (click)="openModal(true)">
            +
        </button>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Image</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of category  | 
                paginate: { itemsPerPage: 3, currentPage: page, totalItems: totalLength}, let i = index"
                    class="row-wrapper">
                    <td>{{ i+1 }}</td>
                    <td> {{ category.name }} </td>
                    <td> {{ category.description }}</td>
                    <td><img [src]="category.imagePath" width="50" height="50"></td>
                    <td>
                        <div class="btn-wrap">
                            <button class="btn1" type="button" (click)="editCategory(category)">Edit</button>
                            <button class="btn1 btn2" type="button" (click)="deleteCategory(category)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>


<!--Modal-->
<div class="modal-wrapper" [ngStyle]="modalOpen">
    <div class="modal">
        <div class="wrapper-title">
            <h1 class="title">Category</h1>
            <div><i class="uil uil-times" (click)="openModal(false)"></i></div>
        </div>
        <div class="form-wrapper">
            <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
                <h1>Name</h1>
                <input type="text" placeholder="Name here.." formControlName="name">
                <h1>Path</h1>
                <input type="text" placeholder="Path here.." formControlName="path">
                <h1>Description</h1>
                <textarea placeholder="Text here.." formControlName="description"></textarea>
                <div style="display: flex; align-items: flex-end ; height: 200px;">
                    <div style="display: flex; align-items: flex-start; flex-direction: column;">
                        <h1>Image</h1>
                        <input type="file" (change)="upload($event)">
                        <div *ngIf="isUploaded">
                            <img [src]="valueByControl('imagePath')" width="120" height="120"
                                style="display: block; margin: 10px 0 ;">
                            <button type="button" style="width: 50px; height: 30px; margin: 0;" (click)="deleteImage()">X</button>
                        </div>
                    </div>
                    <button type="submit" [disabled]="categoryForm.invalid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>