@import "../admin-category/admin-category.component.scss";

select {
    width: 80px;
    padding: 0 0 0 5px;
    height: 30px;
    border-radius: 50px;
}

.basket {
    font-size: 13px;
}

.table-wrapper {
    .row-wrapper {
        td{
            margin: 0 0 20px 0 !important;
        }
        
    }
}
