<div class="container">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Country</td>
                    <td>City</td>
                    <td>Address</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Payment</td>
                    <td>Basket</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders" >
                     <td>{{ item.country }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.streetAddress }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td> 
                    <td>{{ item.phone }}</td> 
                    <td>{{ item.email }}</td> 
                    <td>{{ item.payment }}</td> 
                    <td>
                        <div>
                            <p>{{ item.basket.product }}</p>
                        </div>
                    </td> 
                    <td>{{ item.total | currency:'USD' }}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
