<div class="container">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>Status</td>
                    <td>Country</td>
                    <td>City</td>
                    <td>Address</td>
                    <td>Name</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Payment</td>
                    <td>Basket</td>
                    <td>Total</td> 
                    <td>Action</td> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders | 
                paginate: { itemsPerPage: 2, currentPage: page, totalItems: totalLength};" class="row-wrapper" >
                    <td>
                        <select (change)='changeStatus($event,item)' >
                            <option value="item.status"selected disabled>{{ item.status }}</option>
                            <option value="accepted">accepted</option>
                            <option value="ready to go">ready to go</option>
                            <option value="done">done</option>
                            <option value="canceled">canceled</option>
                        </select>
                    </td>
                     <td>{{ item.country }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.streetAddress }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone }}</td> 
                    <td>{{ item.email }}</td> 
                    <td>{{ item.payment }}</td> 
                    <td>
                        <div *ngFor="let c of item.basket" class="basket">
                            <p>Name:{{ c.product.name }}</p>
                            <p>Brand:{{ c.brand }}</p>
                            <p>Model:{{ c.model }}</p>
                            <p>Year:{{ c.year }}</p>
                            <ng-container *ngIf="c.size">
                                <p>Size: {{ c.size }}</p>
                            </ng-container>
                            <ng-container *ngIf="c.color">
                                <p>Color: {{ c.color }}</p>
                            </ng-container>
                        </div>
                    </td> 
                    <td>{{ item.total | currency:'USD' }}</td> 
                    <td><div class="btn-wrap">
                        <button class="btn1 btn2" type="button" (click)="deleteOrders(item.id)">Delete</button>
                    </div></td> 
                </tr>
            </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
