@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;  
    padding: 10% 0 0 10%;
    h1{
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
        
    }
}
.container{
    .table{
        background-color: #fff;
        margin: 90px auto 0;
        width: 1170px;
        thead{
            tr{
                .product-name{
                    width: 420px;
                    text-align: left;
                }
                .product-price{
                    width: 162px;
                    text-align: left;
                }
                .product-quantity{
                    width: 200px;
                    text-align: left;
                }
                .product-subtotal{
                    width: 162px;
                    text-align: left;
                }
                th{
                    padding: 44px 22px;
                    font-size: 22px;
                    font-family: $primary-font;
                    border-bottom: 1px solid rgba(181,181,181,0.2) !important;
                }  
            }
            
        }
        tbody{
            .uil-times{
                &:hover{
                    color: $secondary-color;
                }
            }
            .product-title{
                padding: 28px 14px;
                height: 156px;
                font-size: 18px;
                .image{
                    margin: 0 40px 0;
                    display: flex;
                    align-items: center;
                }
            }
            .product-info{
                margin: 20px 0 0 0;
                p{
                    font-size: 11px;
                    color: #B5B5B5;
                    font-family: $primary-font;
                }
            }
            .price{
                font-size: 18px;
                font-family: $secondary-font;
            }
            .count{
                margin: 0 15px 0 0;
                width: 97px;
                height: 50px;
                border-radius: 50px;
                padding: 15px 15px 15px 24px;
                background-color: #f0f0f0;
                color: $secondary-text-color;
                font-family: $secondary-font;
                border: 1px solid #dedede;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .button{
                    font-size: 20px;
                }
                .uil-angle-up{
                    &:hover{
                        color: $secondary-color;
                    }
                }
                .uil-angle-down{
                    &:hover{
                        color: $secondary-color;
                    }
                }  
            }
        }
    }
}
.card-total{
    width: 1170px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: $monserat-regular;
    .total{
        margin: 45px 0 0 0;
        display: flex;
        align-items: center;
        .sub-total{
            padding: 6px 15px 6px 6px;
            font-size: 19px;
            width: 168px;
            height: 40px;
            background-color: #ffffff;
            font-family: $monserat-regular;
            margin: 0 16px 0 0;
        }
    }
    button{
        width: 210px;
        height: 50px;
        margin: 30px 0 0 0;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: $secondary-text-color;
        color: #ffffff;
        font-family: $secondary-font;
        &:hover{
            background-color: $secondary-color;
        }
    }
}