<footer>
    <div class="container">
        <div class="empty-space"></div>
        <div class="row">
            <div class="footer-item">
                <div class="logo">
                    <img src="assets/images/logo-footer.webp">
                </div>
                <p class="text">
                    Welcome to AutoParts - your brand new reliable car repair company. We provide the widest range of
                    automotive maintenance and repair services.
                </p>
                <div class="social">
                    <i class="uil uil-facebook"></i>
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-instagram-alt"></i>
                </div>
            </div>
            <div class="footer-item footer-item-border">
                <h2>Customer Service</h2>
                <ul>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Help Center</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Track My Order</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Return Policy</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Price Match</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Gift Cards</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Contacts </a>
                    </li>
                </ul>
            </div>
            <div class="footer-item footer-item-border">
                <h2>Information</h2>
                <ul>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Guides and Articles</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Customer Reviews</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Service Plus</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#"><i class="uil uil-angle-right"></i>Catalog Category</a>
                    </li>
                </ul>
            </div>
            <div class="footer-item footer-item-border">
                <h2>Contact Us</h2>
                <div class="adress">
                    <i class="uil uil-map-marker"></i> 
                    <p>8500 Green Avenue <br>
                    Chicago, IL 60606 <br>
                    WH: 8.00 am - 8.00 pm</p>
                </div>
                <div class="info">
                    <i class="uil uil-envelope icon"></i>
                    <span>info@example.com</span>
                </div>
                <div class="info">
                    <i class="uil uil-phone icon"></i>
                    <span>38 (067) 987 654 32</span>
                </div>

            </div>
        </div>
    </div>
</footer>