<header class="top-panel" [ngClass]="topPanelElse" #topPanel>
    <div class="top-row">
        <div class="logo-nav-wrapper">
            <div class="logo-wrapper">
                <img [routerLink]="[ '' ]" class="logo-image" src="/assets/images/logo-header-retina.webp">
            </div>
            <nav class="nav-wrapper">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="for-nav-item" [routerLink]="[ '' ]" routerLinkActive="active">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="for-nav-item" [routerLink]="[ 'catalog/all' ]" routerLinkActive="active">CATALOG</a>
                    </li>
                    <li class="nav-item news-item">
                        <a  class="for-nav-item " class="for-nav-item" [routerLink]="[ 'news' ]" routerLinkActive="active">NEWS</a>  
                    </li>
                    <li class="nav-item">
                        <a class="for-nav-item" href="#">CONTACTS</a>
                    </li>
                    <li class="menu">
                        <i class="uil uil-bars" (click)="openMenu(true)"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wbp-wrapper">
            <div class="info-wrapper">
                <div class="phone-number">
                    <i class="uil uil-phone"></i>
                    <span>38 (067) 987 654 32</span>
                </div>
                <div class="social">
                    <i class="uil uil-facebook"></i>
                    <i class="uil uil-twitter"></i>
                    <i class="uil uil-instagram-alt"></i>
                </div>
                <div class="search">
                    <div class="search-wrapper">

                        <form class="seach-form">
                            <button type="submit">
                                <i class="uil uil-search-alt"></i>
                            </button>
                                <input type="text" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="basket-wrapper">
                    <i class="uil uil-shopping-basket"></i>
                    <span (click)="openBasketModal()" >{{ total| currency:'USD' }}</span>
                    <div class="basket-modal" [ngStyle]="basketModal">
                        <div class="basket-close"><i class="uil uil-times" (click)="closeBasketModal()"></i></div>
    
                        <div class="basket-info">
                            <ng-container *ngIf="basketproduscts ; else noItem" >
                                <div class="cart" *ngFor="let item of basketInfo" >
                                    <img [src]="item.imagePath" width="55px" height="55px">
                                   <div>
                                    <div style="display: flex;"><h5>{{item.name}}</h5> <i class="uil uil-times" (click)="removeProduct(item.id)"></i></div>
                                    <p>{{item.count}} x {{item.price}}</p>
                                   </div>
                                </div>
                                <div class="cart-1">
                                    <div class="subTotal">Subtotal: {{total | currency:'USD'}}</div>
                                    <div class="button-wrapper">
                                        <button type="button" [routerLink]="['basket']" (click)="closeBasketModal()">VIEV CART</button>
                                        <button type="button" [routerLink]="[ 'checkout']" (click)="closeBasketModal()" >CHECKOUT</button>
                                    </div>
                                </div>  
                            </ng-container>
                            <ng-template #noItem>
                                <p >No products in the cart</p>
                            </ng-template>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="menu-space" [ngStyle]="menuOpen">
   <div class="row">
       <div class="close">
        <i class="uil uil-times" (click)="openMenu(false)"></i>
       </div>
       <div class="logo-wrapper">
           <img class="logo" src="/assets/images/logo-header-retina.webp">
       </div>
       <ul>
           <li>
               <a [routerLink]="[ '/path']">HOME</a>
           </li>
           <li>
            <a [routerLink]="[ '/path']">CATALOG</a>
           </li>
           <li> 
            <a [routerLink]="[ '/path']">NEWS</a>
           </li>
           <li> 
            <a [routerLink]="[ '/path']">CONTACTS</a>
           </li>
       </ul>
       <div class="search">
           <input type="text" placeholder="Search">
           <button type="button"><i class="uil uil-search-alt"></i></button>
       </div>
       <div class="social-wrapper">
         <div class="social">
            <i class="uil uil-facebook"></i>
            <i class="uil uil-twitter"></i>
            <i class="uil uil-instagram-alt"></i>
         </div>
       </div>
   </div>
</div>