<div class="container">
    <div class="button-wrapper">
        <button type="button" (click)="openModal(true)">
            +
        </button>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Tags</td>
                    <td>Image</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of news | 
                paginate: { itemsPerPage: 2, currentPage: page, totalItems: totalLength}; let i = index">
                    <td> {{ i + 1 }}</td>
                    <td> {{ items.name }} </td>
                    <td> {{ items.description | slice:0:50 }}</td>
                    <td> {{ items.tags }}</td>
                    <td><img [src]="items.imagePath" width="50" height="50"></td>
                    <td>
                        <div class="btn-wrap">
                            <button class="btn1" type="button" (click)="editNews(items)" >Edit</button>
                            <button class="btn1 btn2" type="button" (click)="deleteNews(items.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<!--Modal-->
<div class="modal-wrapper" [ngStyle]="modalOpen">
    <div class="modal" >
        <div class="wrapper-title">
            <h1 class="title">Category</h1>
            <div><i class="uil uil-times" (click)="openModal(false)"></i></div>
        </div>
        <div class="form-wrapper">
            <form [formGroup]="newsForm" (ngSubmit)="saveNews()">
                <h1>Name</h1>
                <input type="text" placeholder="Name here.." formControlName="name">
                <h1>Video</h1>
                <input type="text" placeholder="video Path here.." formControlName="videoPath">
                <h1>Description</h1>
                <textarea placeholder="Text here.." formControlName="description"></textarea>
                <h1>Tags</h1>
                <input type="text" placeholder="Text here.." formControlName="tags">
                <div style="display: flex; align-items: flex-start; flex-direction: column;">
                    <h1>Image</h1>
                    <input type="file" (change)="upload($event)">
                    <div *ngIf="isUploaded">
                        <img [src]="valueByControl('imagePath')" width="120" height="120"
                            style="display: block; margin: 10px 0 ;">
                        <button type="button" style="width: 50px; height: 30px; margin: 0;" (click)="deleteImage()">X</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
