<div class="container">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of subscribers;let i= index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <div class="btn-wrap">
                            <button class="btn1 btn2" type="button" (click)="deleteSubscribers(item.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <pagination-controls class="my-pagination"></pagination-controls> -->
    </div>
</div>