@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10% 0 0 10%;
    h1 {
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
        @media screen and (max-width: $media-xl) {
            position: absolute;
            top: 30%;
            font-size: 42px;
        }
        @media screen and (max-width: $media-lg) {
            font-size: 42px;
        }
        @media screen and (max-width: $media-md) {
            font-size: 32px;
            position: absolute;
            top: 30%;
        }
        @media screen and (max-width: $media-sm) {
            top: 10%;
        }
    }
    @media screen and (max-width: $media-sm) {
        height: 180px;
    }
}

.container {
    margin: 90px auto;
    width: 90%;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .news-wrapper {
        width: 65%;
        .news-item {
            width: 100%;
            background-color: #ffffff;
            margin: 0 0 80px;
            .image-wrapper {
                width: inherit;
                height: 30vw;
                img {
                    width: 100%;
                    height: 100%;
                }
                @media screen and (max-width: $media-md) {
                  height: 50vw;
                } 
            }
            .info {
                padding: 40px;
                .name {
                    font-size: 28px;
                    font-family: $secondary-font;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    &:hover {
                        color: $secondary-color;
                        transition: all 0.2s;
                    }
                }
                .date{
                    margin: 40px 0;
                    font-size: 13px;
                    color: #b5b5b5;
                    font-family: $secondary-font;
                }
                .text{
                    font-size: 14px;
                    font-family: $monserat-regular;
                }
                button{
                    margin: 50px 0 30px;
                    padding: 16px 23px;
                    border-radius: 50px;
                    background-color: $secondary-text-color;
                    border:none;
                    outline: none;
                    color: #ffffff;
                    font-family: $secondary-font;
                    &:hover{
                        background-color: $secondary-color;
                        transition: all 0.2s;
                    }
                }
            }
            
        }
        @media screen and (max-width: $media-xxl) {
            width: 59vw;
        } 
        @media screen and (max-width: $media-xl) {
            width: 53vw;
        } 
        @media screen and (max-width: $media-lg) {
            width: 57vw;
        } 
        @media screen and (max-width: $media-md) {
            width: 100%;
        } 
    }
    @media screen and (max-width: $media-xl) {
        width: 85%;
    }
    @media screen and (max-width: $media-lg) {
        width: 90%;
    }
}


::ng-deep{
    .container{
        .my-pagination{
            font-family: $primary-font;
            .current{
                border-radius: 50%; 
                background-color: $secondary-color;
            }
            .pagination-previous {
                
                    display: none;
                
               
            }
            .pagination-next{
                display: none;
            }
        }
    }
}
