@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10% 0 0 10%;
    h1 {
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
    }
}

.container {
    margin: 90px auto;
    width: 90%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    .news-wrapper {
        width: 65%;
        .news-item {
            width: 100%;
            height: 821px;
            background-color: #ffffff;
            margin: 0 0 80px;
            .image-wrapper {
                width: inherit;
                height: 428px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                padding: 40px;
                .name {
                    font-size: 28px;
                    font-family: $secondary-font;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    &:hover {
                        color: $secondary-color;
                        transition: all 0.2s;
                    }
                }
                .date{
                    margin: 40px 0;
                    font-size: 13px;
                    color: #b5b5b5;
                    font-family: $secondary-font;
                }
                .text{
                    font-size: 14px;
                    font-family: $monserat-regular;
                }
                button{
                    margin: 50px 0;
                    padding: 16px 23px;
                    border-radius: 50px;
                    background-color: $secondary-text-color;
                    border:none;
                    outline: none;
                    color: #ffffff;
                    font-family: $secondary-font;
                    &:hover{
                        background-color: $secondary-color;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}
