@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10% 0 0 10%;
    h1 {
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
        @media screen and (max-width: $media-xl) {
            position: absolute;
            top: 30%;
            font-size: 42px;
        }
        @media screen and (max-width: $media-lg) {
            font-size: 42px;
        }
        @media screen and (max-width: $media-md) {
            font-size: 32px;
            position: absolute;
            top: 30%;
        }
        @media screen and (max-width: $media-sm) {
            top: 10%;
        }
    }
    @media screen and (max-width: $media-sm) {
        height: 180px;
    }
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    .image {
        width: 29vw;
        height: 30vw;
        padding: 20px;
        background-color: #ffffff;
        @media screen and (max-width: $media-xl) {
            min-width: 405px;
            min-height: 405px;
        }
        @media screen and (max-width: $media-lg) {
            min-width: 290px;
            min-height: 290px;
        }
        @media screen and (max-width: $media-md) {
            img {
                width: 100%;
            }
            width: 70vw;
            height: 70vw;
            margin: 0;
            padding: 0;
        }
        @media screen and (max-width: $media-sm) {
            img {
                width: 100%;
            }
            width: 30vh;
            height: 30vh;
        }
    }
    .product-info {
        height: 643px;
        width: 40vw;
        padding-left: 70px;
        .price-rating {
            margin: 5px 0 0 0;
            font-size: 32px;
            font-family: $secondary-font;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rating {
                span {
                    padding: 0;
                    font-size: 24px;
                    line-height: 0;
                    color: lightgrey;
                }
                ::before {
                    content: "★";
                }
                .active {
                    color: gold;
                }
            }
        }
        .form-wrapper {
            form {
                h3 {
                    margin: 23px 0 15px 0;
                    font-size: 14px;
                    font-family: $primary-font;
                }
                .select {
                    position: relative;
                    .uil-angle-down {
                        position: absolute;
                        top: 30%;
                        right: 20px;
                        font-size: 20px;
                    }
                }
                select {
                    width: 100%;
                    height: 45px;
                    border-radius: 50px;
                    padding: 0 45px 0 20px;
                    margin-right: 1em;
                    display: inline-block;
                    background-color: #f0f0f0;
                    color: $secondary-text-color;
                    border: 1px solid #dedede;
                    outline: none;
                    font-family: $primary-font;
                    appearance: none;
                }

                .custom-radio {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
                .custom-radio:checked + label {
                    color: $primery-color;
                }
                .radio-1:checked + label{
                    border: 4px solid #e7e7e7;
                    transition: all 0.2s;
                }
                .label-1 {
                    font-size: 14px;
                    font-family: $monserat-regular;
                }
                .label-2 {
                    font-size: 25px;
                    font-family: $secondary-font;
                    margin: 0 0 0 20px;
                    @media screen and (max-width: $media-xl) {
                        font-size: 17px;
                    }
                    @media screen and (max-width: $media-md) {
                        font-size: 19px;
                    }
                    @media screen and (max-width: $media-sm) {
                        font-size: 19px;
                    }
                }
                .label-3 {
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    display: inline-block;
                    margin: 0 0 0 10px;
                }
                .wrapper {
                    margin: 20px 0 0;
                    display: flex;
                    .count {
                        margin: 0 15px 0 0;
                        width: 97px;
                        height: 50px;
                        border-radius: 50px;
                        padding: 15px 15px 15px 24px;
                        background-color: #f0f0f0;
                        color: $secondary-text-color;
                        font-family: $secondary-font;
                        border: 1px solid #dedede;
                        outline: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .button {
                            font-size: 20px;
                        }
                        .uil-angle-up {
                            &:hover {
                                color: $secondary-color;
                            }
                        }
                        .uil-angle-down {
                            &:hover {
                                color: $secondary-color;
                            }
                        }
                        @media screen and (max-width: $media-xl) {
                            width: 90px;
                            height: 42px;
                        }
                    }
                    button {
                        width: 130px;
                        height: 50px;
                        border-radius: 50px;
                        background-color: $secondary-text-color;
                        font-family: $secondary-font;
                        color: #ffffff;
                        border: none;
                        outline: none;
                        &:hover {
                            background-color: $secondary-color;
                        }
                        &:disabled {
                            background-color: rgb(66, 66, 66);
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $media-xl) {
            width: 45vw;
        }
        @media screen and (max-width: $media-lg) {
            width: 50vw;
        }
        @media screen and (max-width: $media-md) {
            select {
                height: 40px;
            }
            margin: 40px 0 0 0;
            padding: 0;
            width: 100%;
        }
    }
    @media screen and (max-width: $media-md) {
        display: block;
    }
}
.productDescription {
    width: 90%;
    max-width: 1170px;
    background-color: #ffffff;
    padding: 40px;
    margin: 0 auto 50px;
    h1 {
        font-size: 28px;
        color: $secondary-text-color;
        font-family: $secondary-font;
        margin: 0 0 15px;
    }
    p {
        font-size: 14px;
        color: $secondary-text-color;
        font-family: $primary-font;
    }
}
