<section>
    <div class="image-top">
        <h1>{{ product.name }}</h1>
    </div>
    <div class="container">
        <div class="image">
            <img [src]="product.imagePath" width="100%" height="100%">
        </div>
        <div class="product-info">
            <div class="price-rating">
                <span>{{ product.price | currency:'USD' }}</span>
                <div class="rating">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="form-wrapper">
                <form [formGroup]="orderDetail">
                    <h3>Year</h3>
                    <div class="select">
                        <i class="uil uil-angle-down"></i>
                        <select formControlName='year'>
                            <option disabled selected>CHOOSE AN OPTION</option>
                            <option *ngFor="let item of year" [value]='item'>{{ item }}</option>
                        </select>
                    </div>
                    <h3>Make</h3>
                    <div class="select">
                        <i class="uil uil-angle-down"></i>
                        <select formControlName='brand' (change)='loadSubModel($event)'>
                            <option disabled selected>CHOOSE AN OPTION</option>
                            <option *ngFor="let item of modelBrand" [value]="item.brand">{{ item.brand }}</option>
                        </select>
                    </div>
                    <h3>Model</h3>
                    <div class="select">
                        <i class="uil uil-angle-down"></i>
                        <select formControlName='model'>
                            <option disabled selected>CHOOSE AN OPTION</option>
                            <option *ngFor="let item of modelCar" [value]="item.model">{{ item.model }}</option>
                        </select>
                    </div>
                    <ng-container *ngIf="size">
                        <h3>Size</h3>
                        <input type="radio" class="custom-radio" id="choose" name="size" [value]="null"
                            formControlName='size' checked>
                        <label for="choose" class="label-1">Choose an option</label>
                        <input type="radio" class="custom-radio" id="size-1" name="size" formControlName='size'
                            [value]="17">
                        <label for="size-1" class="label-2">17"</label>
                        <input type="radio" class="custom-radio" id="size-2" name="size" formControlName='size'
                            [value]="18">
                        <label for="size-2" class="label-2">18"</label>
                        <input type="radio" class="custom-radio" id="size-3" name="size" formControlName='size'
                            [value]="20">
                        <label for="size-3" class="label-2">20"</label>
                        <input type="radio" class="custom-radio" id="size-4" name="size" formControlName='size'
                            [value]="22">
                        <label for="size-4" class="label-2">22"</label>
                    </ng-container>
                    <ng-container *ngIf="color">
                        <h3>Color</h3>
                        <input type="radio" class="custom-radio radio-1" id="color-1" name="color" formControlName='color'
                            value="black" checked>
                        <label for="color-1" class="label-3" style="background-color:black;"></label>
                        <input type="radio" class="custom-radio radio-1" id="color-2" name="color" formControlName='color'
                            value="blue" >
                        <label for="color-2" class="label-3" style="background-color:blue;"></label>
                        <input type="radio" class="custom-radio radio-1" id="color-3" name="color" formControlName='color'
                            value="green">
                        <label for="color-3" class="label-3" style="background-color:green;"></label>
                        <input type="radio" class="custom-radio radio-1" id="color-4" name="color" formControlName='color'
                            value="red">
                        <label for="color-4" class="label-3" style="background-color: red;"></label>
                        <input type="radio" class="custom-radio radio-1" id="color-5" name="color" formControlName='color'
                            value="yellow">
                        <label for="color-5" class="label-3" style="background-color: yellow;"></label>
                    </ng-container>
                    <div class="wrapper">
                        <div class="count">
                            {{ product.count }}
                            <div class="button">
                                <div><i class="uil uil-angle-up button" (click)="changeCount(true)"></i></div>
                                <div><i class="uil uil-angle-down button" (click)="changeCount(false)"></i></div>
                            </div>
                        </div>
                        <button type="submit" (click)="addToBasket()" [disabled]='orderDetail.invalid'>BUY NOW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="productDescription">
        <h1>DESCRIPTION</h1>
        <p>{{ product.description }}</p>
    </div>
</section>