@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 10% 0 0 10%;
    h1{
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
        @media screen and (max-width: $media-xl) {
            position: absolute;
            top: 30%;
            font-size: 42px;
        }
        @media screen and (max-width: $media-lg) {
            font-size: 42px;
        }
        @media screen and (max-width: $media-md) {
            font-size: 32px;
            position: absolute;
            top: 30%;
        }
        
        @media screen and (max-width: $media-sm) {
            top: 10%;
        }
    }
    @media screen and (max-width: $media-sm) {
        height: 180px;
    }
}

.container{
    width: 90%;
    max-width: 1170px;
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .news-wrapper{
        width: 65%;
        .image-wrapper{
            height: 30vw;
            img{
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width: $media-lg) {
                height: 30vw;
              } 
            @media screen and (max-width: $media-md) {
                height: 50vw;
              } 
        }
        .date{
            margin: 50px 0 80px 0;
            font-size: 13px;
            color: #b5b5b5;
            font-family: $secondary-font;
            @media screen and (max-width: $media-xl) {
                margin: 20px 0;
            } 
        }
        .video{
            margin: 0 0 80px;
            height: 270px;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .text{
            
            font-size: 14px;
            font-family: $primary-font;
            margin: 0 0 26px;
            @media screen and (max-width: $media-xl) {
                margin: 10px 0;
            }
        }
        .tags{
            font-size: 14px;
            font-family: $secondary-font;
            .tag{
                margin: 0 0 0 10px;
                text-transform: uppercase;
                display: inline-block;
                padding: 15px;
                color: #ffffff;
                background-color: $secondary-text-color;
                border-radius: 50px
            }
        }
        @media screen and (max-width: $media-xxl) {
            width: 59vw;
        } 
        @media screen and (max-width: $media-xl) {
            width: 53vw;
        } 
        @media screen and (max-width: $media-lg) {
            width: 57vw;
        } 
        @media screen and (max-width: $media-md) {
            width: 100%;
            margin: 0 0 30px;
        } 
    } 
}