<div class="image-top">
    <h1>Contacts</h1>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="info-wrapper">
                <h1>STAY IN TOUCH</h1>
                <div class="info">
                    <h3>Address:</h3>
                    <div class="wrapper">
                        <p>Chicago, IL 60606, 123, New Lenox</p>
                        <div class="empty-space"></div>
                    </div>
                    <h3>Phone:</h3>
                    <div class="wrapper">
                        <p>0(800) 123-4545-67</p>
                        <p>0(800) 547-2589-22</p>
                        <div class="empty-space"></div>
                    </div>
                    <h3>Email:</h3>
                    <div class="wrapper">
                        <p>info@example.com</p>
                        <p>support@example.com</p>
                        <div class="empty-space"></div>
                    </div>
                    <div class="social-wrapper">
                        <i class="uil uil-facebook"></i>
                        <i class="uil uil-twitter"></i>
                        <i class="uil uil-instagram"></i>
                    </div>
                </div>
            </div>
                <div class="message-wrapper">
                    <h1>CONTACT US RIGHT NOW</h1>
                    <div class="form-wrapper">
                        <form>
                           <div class="colums-wrap">
                               <input class="colums_1_2" type="text" placeholder="NAME">
                               <input class="colums_1_2" type="text" placeholder="EMAIL">
                           </div>
                           <div class="colums-wrap">
                               <input class="colums_1_1" type="text" placeholder="SUBJECT">
                           </div>
                           <div class="colums-wrap">
                            <textarea class="textarea-massege" placeholder="MESSAGE"></textarea>
                           </div>
                           <button type="submit">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            
        </div>
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.252943019546!2d-73.985107!3d40.748244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b30eac9f%3A0xaca05ca48ab5ac2c!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQv9C-0LvRg9GH0LXQvdGWINCo0YLQsNGC0Lgg0JDQvNC10YDQuNC60Lg!5e0!3m2!1suk!2sua!4v1636536793744!5m2!1suk!2sua" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
</section>