@import "../../shared/styles/mixin";
@import "../../shared/styles/variables";
.container{
    .empty-storage {
        margin: 30px auto ;
        width: 100%;
        position: relative;
        .layer-1 {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 300px;
            font-family: $secondary-font;
            color: #cacaca;
        }
        .storage-title {
            width: 100%;
            position: absolute;
            top: 28%;
            text-align: center;
            font-size: 50px;
            font-family: $secondary-font;
            color: $secondary-text-color;
            font-style: normal;
            span {
                color: $primery-color;
            }
            p {
                font-family: $monserat-regular;
                font-size: 25px;
            }
        }
        @media screen and (max-width: $media-xl) {
            margin: 0 auto;
            .title {
                padding: 35px 0 0 0;
            }
            .layer-2 {
                font-size: 74px;
            }
            .layer-3 {
                font-size: 74px;
            }
        }
        @media screen and (max-width: $media-lg) {
           .layer-1{
               font-size: 280px;
           }
        }
        @media screen and (max-width: $media-md) {
           .layer-1{
               font-size: 208px;
           }
           .storage-title{
               h1{
                   font-size: 48px;
               }
               span{
                   font-size: 48px;
               }
           }
        }
    }
    .row{
        @include flex(row,center,normal);
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        .brands-item{
            width: calc(100% / 5.1);
            margin: 0.5px;
            height: 155px;
        }
        @media screen and(max-width:$media-xxl) {
            .brands-item{
                height: 132px;
            } 
        }
        @media screen and(max-width:$media-xl) {
            .brands-item{
                height: 120px;
            } 
        }
        @media screen and(max-width:$media-md) {
            .brands-item{
                width: calc(100% /2.1);
                height: 200px;
            } 
        }
        @media screen and(max-width:$media-md) {
          width: 95vw;
        }
    }
}