<div class="container">
    <div class="button-wrapper">
        <button type="button" (click)="open()">
            +
        </button>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Category</td>
                    <td>Image</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of product ; let i = index">
                    <td> {{ i + 1 }}</td>
                    <td> {{ product.name }} </td>
                    <td> {{ product.description | slice: 0:50 }}</td>
                    <td> {{ product.category.name }}</td>
                    <td><img [src]="product.imagePath" width="50" height="50"></td>
                    <td>
                        <div class="btn-wrap">
                            <button class="btn1" type="button">Edit</button>
                            <button class="btn1 btn2" type="button" (click)="deleteProducts(product)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Modal-->
<div class="modal-wrapper" [ngStyle]="modalOpen">
    <div class="modal">
        <div class="wrapper-title">
            <h1 class="title">Products</h1>
            <div><i class="uil uil-times" (click)="close()"></i></div>
        </div>
        <div class="form-wrapper">
            <form [formGroup]="productForm" (ngSubmit)="saveProducts()">
                <div class="block-1">
                    <h1>Name</h1>
                    <input type="text" placeholder="Name here.." formControlName="name">
                    <h1>Brand</h1>
                    <input type="text" placeholder="Brand here.." formControlName="brand">
                    <h1>Price</h1>
                    <input type="text" placeholder="Price here.." formControlName="price">
                    <h1>Category</h1>
                    <select name="" id="" formControlName='category' (change)="loadSubCategory($event)" [(ngModel)]="name">
                        <option value="" disabled>Choose...</option>
                        <option [ngValue]="category" value="category.path" *ngFor="let category of category">{{ category.name }}</option>
                    </select>
                </div>
                <div class="block-2">
                    <h1>Sub Category</h1>
                    <select name="" id="" formControlName='subCategory'>
                        <option value="" disabled>Choose...</option>
                        <option [ngValue]="subCategory" *ngFor="let subCategory of subCategory">{{ subCategory.name }}</option>
                    </select>
                    <h1>Description</h1>
                    <textarea placeholder="Text here.." formControlName='description'></textarea>
                    <h1>Image</h1>
                    <input type="file" (change)="upload($event)">
                    <button type="submit" [disabled]='productForm.invalid'>Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>