<section>
    <div class="container">
     <aside>
         <div class="menu">
             <ul>
                 <li><a [routerLink]="[ 'admin-category']" routerLinkActive="active" >Category</a></li>
                 <li><a [routerLink]="[ 'admin-sub-category']" routerLinkActive="active">Sub Category</a></li>
                 <li><a [routerLink]="[ 'admin-products']" routerLinkActive="active">Products</a></li>
                 <li><a [routerLink]="[ 'admin-model']" routerLinkActive="active">Model</a></li>
                 <li><a [routerLink]="[ 'admin-sub-model']" routerLinkActive="active">Sub model</a></li>
                 <li><a [routerLink]="[ 'admin-orders']" routerLinkActive="active">Order</a></li>
                 <li><a class="signOut" (click)="signOut()">Sign Out</a></li>
             </ul>
         </div>
     </aside>
     <div class="content">
        <router-outlet></router-outlet>
    </div>
    </div> 
</section>
