// <- Colors ->
$primery-text-color: #fff;
$secondary-text-color: rgb(30,30,30);
$secondary-color: #e43315;
$primery-color:rgb(1, 163, 193);


//<- Fonts ->
$primary-font: Montserrat-Light, sans-serif;
$secondary-font: Montserrat-Bold, sans-serif;
$monserat-regular: Montserrat-Regular, sans-serif;

// <- Media ->
$media-xxl: 1400px;
$media-xl: 1280px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
