<app-slider></app-slider>
<section class="container">
    <div class="subscribe-wrapper">
        <div class="form-wrapper">
            <span class="form-text">Subscribe for News and Get a Discount</span>
            <form>
                <input type="text" placeholder="YOUR EMAIL">
                <app-button [buttonConfig]="subscribeButton"></app-button>
            </form>
        </div>
    </div>
    <div class="empty-storage">
        <span class="layer-1">01</span>
        <div class="storage-title">
            <h1>WELCOME TO <span>AUTOPARTS</span></h1>
            <p>we have any part for any vehicle</p>
        </div>
    </div>
</section>
<app-home-category></app-home-category>
<app-shop-vossen></app-shop-vossen>
<section class="wpb-container">
    <div class="wpb-row-1">
        <div class="title">
            <div class="empty-space"></div>
            <span class="layer-1">03</span>
            <p class="layer-2">FIND YOUR OWN</p>
            <p class="layer-3">STYLE</p>
        </div>
        <div class="text">
            <p>our professional team will help you</p> 
            <p>choose perfect parts for</p>
            <p>your vehicle</p>
        </div>
    </div>
</section>
<app-video-slider></app-video-slider>
<app-home-news></app-home-news>
<app-brands></app-brands>
<app-review-slider></app-review-slider>
<div class="order-callback">
    <div class="row">
        <p class="text">Order a Callback to Get a Free Professional Consultation</p>
        <app-button [buttonConfig]="button3"></app-button>
    </div>
</div>