@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.container {
    .subscribe-wrapper {
        @include flex(row, center, center);
        position: relative;
        height: 140px;
        width: 90%;
        background-color: $primery-text-color;
        margin: 0 auto;
        .form-wrapper {
            @include flex(row, flex-start, center);
            flex-wrap: wrap;
            span {
                font-size: 26px;
                color: $secondary-text-color;
                font-family: $monserat-regular;
                @media screen and (max-width: $media-xxl) {
                    font-size: 22px;
                }
                @media screen and (max-width: $media-sm) {
                    font-size: 16px;
                }
            }
            button {
                padding: 16px 24px;
                border-radius: 50px;
                font-family: $secondary-font;
                color: $primery-text-color;
                outline: none;
                border: none;
                background-color: $secondary-color;
                @media screen and (max-width: $media-xl) {
                    padding: 17px 18px;
                }
                &:hover {
                    background-color: $secondary-text-color;
                    transition: all 0.5s;
                }
            }
            input {
                width: 373px;
                height: 49px;
                border-radius: 50px;
                margin: 0 20px 0 43px;
                outline: none;
                border: 1px solid rgb(222, 222, 222);
                background-color: #f0f0f0;
                color: $secondary-text-color;
                padding: 0 23px;
                font-family: $monserat-regular;
                @media screen and (max-width: $media-xxl) {
                    width: 288px;
                }
                @media screen and (max-width: $media-xl) {
                    width: 256px;
                }
                @media screen and (max-width: $media-lg) {
                    margin: 20px 10px 0 0;
                    text-align: center;
                    width: 470px;
                }
                @media screen and (max-width: $media-md) {
                    width: 100%;
                    margin: 20px 0;
                }
            }
            @media screen and (max-width: $media-lg) {
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
                form {
                    width: 90%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
        }
        @media screen and (max-width: $media-md) {
            height: 220px;
        }
    }
    .empty-storage {
        margin: 30px auto;
        width: 90%;
        position: relative;
        .layer-1 {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 300px;
            font-family: $secondary-font;
            color: #cacaca;
        }
        .storage-title {
            width: 100%;
            position: absolute;
            top: 28%;
            text-align: center;
            font-size: 50px;
            font-family: $secondary-font;
            color: $secondary-text-color;
            font-style: normal;
            span {
                color: $primery-color;
            }
            p {
                font-family: $monserat-regular;
                font-size: 25px;
            }
        }
        @media screen and (max-width: $media-xl) {
            margin: 0 auto;
            .title {
                padding: 35px 0 0 0;
            }
            .layer-2 {
                font-size: 74px;
            }
            .layer-3 {
                font-size: 74px;
            }
        }
        @media screen and (max-width: $media-lg) {
            .layer-1 {
                font-size: 280px;
            }
        }
        @media screen and (max-width: $media-md) {
            .layer-1 {
                font-size: 208px;
            }
            .storage-title {
                h1 {
                    font-size: 48px;
                }
                span {
                    font-size: 48px;
                }
            }
        }
    }
}
.wpb-container {
    height: 930px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/images/bg-2-1.jpg");
    .wpb-row-1 {
        width: 90%;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        .title {
            position: relative;
            .empty-space {
                height: 156px;
                margin-bottom: -120px;
            }
            .layer-1 {
                font-size: 300px;
                font-family: $secondary-font;
                color: $primery-text-color;
                opacity: 0.15;
            }
            .layer-2 {
                font-size: 80px;
                font-family: $secondary-font;
                position: absolute;
                line-height: 96px;
                top: 35%;
                color: $primery-text-color;
            }
            .layer-3 {
                position: absolute;
                top: 56%;
                font-family: $secondary-font;
                font-size: 110px;
                color: rgb(246, 198, 41);
            }
            @media screen and (max-width: $media-xl) {
                .layer-2 {
                    font-size: 74px;
                }
                .layer-3 {
                    font-size: 100px;
                }
            }
            @media screen and (max-width: $media-md) {
                width: 80%;
                .layer-1 {
                    font-size: 208px;
                }
                .layer-2 {
                    font-size: 48px;
                }
                .layer-3 {
                    font-size: 65px;
                }
            }
        }
        .text {
            font-size: 26px;
            line-height: 35px;
            font-family: $monserat-regular;
            color: $primery-text-color;
            @media screen and (max-width: $media-xxl) {
                font-size: 22px;
            }
            @media screen and (max-width: $media-md) {
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
    @media screen and (max-width: $media-md) {
        height: 797px;
    }
}
.order-callback {
    @include flex(row, center, center);
    width: 90%;
    height: 140px;
    margin: 0 auto -60px;
    position: relative;
    background-color: $primery-text-color;
    .row {
        width: 100%;
        @include flex(row, space-around, center);
        flex-wrap: wrap;
        .button {
            padding: 16px 24px;
            border-radius: 50px;
            font-family: $secondary-font;
            color: $primery-text-color;
            outline: none;
            border: none;
            background-color: $secondary-color;
            @media screen and (max-width: $media-xl) {
                padding: 17px 18px;
            }
            &:hover {
                background-color: $secondary-text-color;
                transition: all 0.5s;
            }
        }
        p {
            width: 65%;
            color: $secondary-text-color;
            font-size: 26px;
            font-family: $monserat-regular;
            @media screen and (max-width: $media-xxl) {
                font-size: 22px;
            }
            @media screen and (max-width: $media-md) {
                font-size: 16px;
                text-align: center;
                width: 100%;
                margin: 0 0 30px 0;
            }
        }
    }
    @media screen and (max-width: $media-md) {
        height: 170px;
        .row {
            p {
                width: 100%;
            }
        }
    }
}

.modal-callback-wrapper{
    display: none;
    z-index: 500;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.534);
    .modal-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal{
            width: 670px;
            height: 493px;
            background-color: #ffff;
            .close-button-wrapper{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding: 20px;
                font-size: 28px;
            .uil-times{
                &:hover{
                    color: $secondary-color;
                    transition: all 0.2s;
                }
            }
            }
            .form-wrapper{
                padding: 10px 35px 25px;
                text-align: center;
                h3{
                    font-size: 38px;
                    font-family: $secondary-font;
                    text-transform: uppercase;
                }
                p{
                    line-height: 24px;
                    font-size: 14px;
                    font-family: $monserat-regular;
                    margin: 0 0 42px;
                }
                form{
                    input{
                        width: 100%;
                        height: 50px;
                        margin: 0 0 30px;
                        border-radius: 50px;
                        padding: 14px 23px;
                        background-color: rgb(240, 240, 240);
                        font-size: 13px;
                        font-family: $monserat-regular;
                        border: 1px solid rgb(222, 222, 222);
                        outline: none;
                    }
                    button{
                        width: 186px;
                        height: 50px;
                        margin: 30px 0 0 0;
                        text-align: center;
                        border-radius: 50px;
                        background-color: $secondary-color;
                        border: none;
                        outline: none;
                        color: #ffff;
                        font-family: $secondary-font;
                    }
                }
            }
        }
    }
}