<section class="container">
    <div class="row">
        <div class="video-item">
            <img src="assets/images/featured-2-600x450.jpg" width="364"
                height="273">
            <h1>BMW M5 Styling with <br> Lexani Wheels</h1>
            <p>JANUARY 28,2017</p>
            <app-button [buttonConfig]="button"></app-button>
        </div>
        <div class="video-item">
            <img src="assets/images/featured-5-600x450.jpg" width="364"
                height="273">
            <h1>BMW M5 Styling with <br> Lexani Wheels</h1>
            <p>JANUARY 28,2017</p>
            <app-button [buttonConfig]="button"></app-button>
        </div>
        <div class="video-item">
            <img src="assets/images/featured-6-600x450.jpg" width="364"
                height="273">
            <h1>BMW M5 Styling with <br> Lexani Wheels</h1>
            <p>JANUARY 28,2017</p>
            <app-button [buttonConfig]="button"></app-button>
        </div>
    </div>
    <div class="button-page-wrapper">
        <button type="button" class="page"></button>
        <button type="button" class="page"></button>
        <button type="button" class="page"></button>
        <button type="button" class="page"></button>
    </div>
</section>