@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixin";
.container {
    margin: -90px auto 0;
    max-width: 1170px;
    width: 90%;
    overflow: hidden;
    .row {
        text-align: center;
        @include flex(row, space-around, normal);
        .video-item {
            height: auto;
            width: 23vw;
            background-color: $primery-text-color;
            .image-wrapper{
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 273px;
                position: relative;
                .uil-play{
                    width: 63px;
                    height: 63px;
                    position: absolute;
                    left: 40%;
                    top: 30%;
                    background-color: rgba(255, 255, 255, 0.445);
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    font-size: 28px;
                    color: $primery-text-color;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        width: 70px;
                        height: 70px;
                        font-size: 30px;
                        transition: all 0.2s;
                        color: $secondary-color;
                    }
                    
                }
            }
           
            .button{
                padding: 16px 24px;
                border-radius: 50px;
                font-family: $secondary-font;
                color: $primery-text-color;
                outline: none;
                border: none;
                background-color: $secondary-color;
                margin: 0 0 20px;
                @media screen and (max-width:$media-xl){
                    padding: 17px 18px;
                 }
                 &:hover{
                     background-color: $secondary-text-color;
                     transition: all 0.5s;
                 }
            }
            img{
                width: 100%;
                height: 273px ;
            }
            .video{
                width: 100%;
                height: 273px;
                display: none;
                background-color: $secondary-text-color;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            h1 {
                margin: 35px ;
                font-size: 22px;
                color: $secondary-text-color;
                font-family: $primary-font;
            }
            p {
                margin: 35px 0;
                font-size: 13px;
                color: #b5b5b5;
                font-family: $secondary-font;
            }
            @media screen and (max-width: $media-xxl) {
                // height: 420px;
                .image-wrapper{
                    height: 35vh;
                }
                .video{
                    height: 35vh;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                h1 {
                    margin: 20px 0 0;
                }
                p {
                    margin: 25px 0;
                }
            }
               
            @media screen and (max-width: $media-xl) {
                // height: auto;
                .image-wrapper{
                    height: 25vh;
                }
                .video{
                    height: 25vh;
                }
                
                img {
                    height: 100%;
                }
                h1 {
                    margin: 20px 0 0 ;
                    font-size: 18px;
                }
                p {
                    margin: 25px 0;
                    font-size: 13px
                }
            }
            @media screen and(max-width:$media-sm) {
                width: 100%;
                height: 475px;
                .image-wrapper{
                    height: 40vh;
                    width: 100%;
                }
                .video{
                    height: 40vh;
                    width: 100%;
                }
                h1 {
                    margin: 15px 0 0 0;
                    font-size: 18px;
                }
                p {
                    margin: 25px 0;
                    font-size: 13px
                }
                
            }
        }
        @media screen and(max-width:$media-sm) {
            margin: 0 auto;
            display: block;
            width: 80%;
            height: 440px;
            overflow: hidden;
           
        }
    }
    .button-page-wrapper {
        @include flex(row, center, normal);
        width: 90%;
        margin: 50px auto 0;
        .page {
            margin: 0 20px 0 0;
            width: 8px;
            height: 8px;
            outline: none;
            border: none;
            border-radius: 100px;
            background-color: #b5b5b5;
        }
    }
}
