@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
    height: 390px;
    background-image: url(../../../assets/images/slide-1-bg.jpg);
    background-position: center;
    background-size: cover;  
    padding: 10% 0 0 10%;
    h1{
        color: #ffffff;
        font-size: 63px;
        font-family: $secondary-font;
        
    }
}
.container{
    width: 1170px;
    margin: 0 auto 0;
    .form-wrapper{
        
        width: 100%;
        h1{
            margin: 90px 0 0 0;
            font-size: 28px;
            font-family: $secondary-font;
        }
        form{
           
            width: 100%;
            h1{
                margin: 15px 0 5px ;
                font-size: 14px;
                font-family: $primary-font;
            }
            input[type="text"]{
                width: 40%;
                margin: 0 0 10px 0;
                border: 1px solid rgb(222, 222, 222);
                outline: none;
                background-color: #ffffff;
                height: 50px;
                border-radius: 50px;
                font-family: $primary-font;
                padding: 0 24px;
            }
            .payment{
                margin: 20px 0 ;
                font-family: $primary-font;
                font-size: 18px;
            }
            .button-wrapper{
                width: 100%;
                text-align: right;
                button{
                    margin: 14px 0 100px ;
                    width: 140px;
                    height: 50px;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    background-color: $secondary-text-color;
                    color: #ffffff;
                    font-family: $secondary-font;
                    &:hover{
                        background-color: $secondary-color;
                    }
                }
            }
        }
    }
    h1{
        margin: 90px 0 25px 0;
        font-size: 28px;
        font-family: $secondary-font;
    }
    .order-wrapper{
        width: 100%;
        background-color: #ffff;
        margin: 0 0 40px;
       
        table{
            width: 100%;
            thead{
                font-size: 18px;
                font-family: $primary-font;
                text-align: left;
                tr{
                    th{
                        padding: 9px 12px;
                        border-bottom: 1px solid rgba(181,181,181,0.2) !important;
                    }
                }
            }
        }
        tbody{
            .product-info{
                border-bottom: 1px solid rgba(181,181,181,0.2) !important;
            }
            .product-name{
                padding: 12px 9px;
                font-size: 18px;
                font-family: $primary-font;
            }
            .product-count{
                font-size: 18px;
                font-family: $secondary-font;
            }
            .model-info{
                padding: 12px 9px;
                font-size: 11px;
                font-family: $primary-font;
                color: #b5b5b5;
            }
            .total{
                font-size: 18px;
                font-family: $secondary-font;
                border-bottom: 1px solid rgba(181,181,181,0.2) !important;
            }
            .product-total{
                padding: 9px 12px;
                font-size: 18px;
                font-family: $primary-font;
                text-align: left;
            }
            .total-1{
                text-align: left;
                color: $secondary-color;
                font-family: $secondary-font;
                font-size: 18px;
            }
        }

    }
}