<div class="image-top">
    <h1>lOG IN</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" [formGroup]='authForm' (ngSubmit)='loginUser()'>
                    <h1>Sign In</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <input type="text" name=""placeholder="Email" formControlName="email" [ngStyle]="errorEmail"> 
                        <input type="password" name="" placeholder="Password" formControlName="password" [ngStyle]="errorPassword"> 
                        <a class="new-user" (click)="OpenLogup(true)">NEW USER? REGISTER</a>
                    <button type="submit"  [disabled]='authForm.invalid'>Submit</button>
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a (click)="faceBookAuth()" class="icoFacebook" title="Facebook"><i class="uil uil-facebook-f"></i></a>
                            </li>
                            <li><a (click)="googleAuth()" class="icoGoogle" title="Google"><i class="uil uil-google"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-1" [ngStyle]="openLogup">
            <div class="col-md-6">
                <div class="card">
                    <form class="box box-1" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                        <h1>Sign Up</h1>
                        <p class="text-muted"> Please enter your login and password!</p> 
                        <input type="text" name=""placeholder="Email" formControlName="email"> 
                        <input type="password" name="" placeholder="Password" formControlName="password"> 
                        <a class="new-user" (click)="OpenLogup(false)">Sign Up here</a>
                        <button type="submit" [disabled]='registerForm.invalid'>Submit</button>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a (click)="faceBookAuth()" class="icoFacebook" title="Facebook"><i
                                            class="uil uil-facebook-f"></i></a></li>
                                <li><a (click)="googleAuth()" class="icoGoogle" title="Google +"><i
                                            class="uil uil-google"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

     