<div class="image-top">
    <h1>lOG IN</h1>
</div>
<!-- <h2>Weekly Coding Challenge #1: Sign in/up Form</h2> -->
<section>
    <div class="container" id="container" [ngClass]="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a (click)="authService.faceBookAuth()" class="social"><i class="uil uil-facebook"></i></a>
                    <a (click)="authService.googleAuth()" class="social"><i class="uil uil-google"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="email" placeholder="Email" formControlName="email" >
                <input type="password" placeholder="Password" formControlName="password">
                <button type="submit" [disabled]='registerForm.invalid'>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]='authForm' (ngSubmit)='loginUser()'>
                <h1>Sign in</h1>
                <div class="social-container">
                    <a (click)="authService.faceBookAuth()" class="social"><i class="uil uil-facebook"></i></a>
                    <a (click)="authService.googleAuth()" class="social"><i class="uil uil-google"></i></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email"  formControlName="email">
                <input type="password" placeholder="Password" formControlName="password">
                <a href="#">Forgot your password?</a>
                <button type="submit" [disabled]='authForm.invalid'>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="signIn(true)">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="signIn(false)">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</section>