@import "../../shared/styles/variables";
@import "../../shared/styles/mixin";
.image-top {
	width: 100%;
	height: 200px;
	background-image: url(../../../assets/images/slide-1-bg.jpg);
	background-position: center;
	background-size: cover;
	padding: 5% 0 0 5%;
	h1 {
		color: #ffffff;
		font-size: 52px;
		font-family: $secondary-font;
		@media screen and (max-width: $media-xl) {
			position: absolute;
			top: 15%;
			font-size: 42px;
		}
		@media screen and (max-width: $media-lg) {
			font-size: 42px;
		}
		@media screen and (max-width: $media-sm) {
			top: 10%;
		}
	}
	@media screen and (max-width: $media-sm) {
		height: 180px;
	}
}


.row {

	margin: 50px auto;
	position: relative;
	z-index: 1;
	@media screen and (max-width: $media-xxl) {
		margin: 30px 0;
	}

	@media screen and (max-width: $media-lg) {
		margin: 25px 0;
	}
	@media screen and (max-width: $media-sm) {
		margin: 0;
	}
}

.row-1 {
	z-index: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.box {
	box-shadow: 0 0 10px 0 black;
	margin: 0 auto;
	width: 30%;
	padding: 40px;
	background: $secondary-text-color;
	text-align: center;
	transition: 0.25s;
	border-radius: 20px;
	font-family: $secondary-font;
	input[type="text"],
	input[type="password"] {
		border: 0;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 2px solid $primery-color;
		padding: 10px 10px;
		width: 80%;
		outline: none;
		color: white;
		border-radius: 24px;
		transition: 0.25s;
		&:focus {
			width: 90%;
			border-color: #2ecc71;
		}
	}
	h1 {
		color: white;
		text-transform: uppercase;
		font-weight: 500;
	}
	.text-muted {
		color: #fff;
		margin: 20px 0 40px;
		font-size: 14px;
	}
	button {
		border: 0;
		width: 60%;
		background: none;
		display: block;
		margin: 20px auto;
		text-align: center;
		border: 2px solid #2ecc71;
		padding: 14px 40px;
		outline: none;
		color: white;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
		&:hover {
			background: #2ecc71;
		}
	}
	.new-user {
		text-decoration: none;
		font-size: 12px;
		color: #fff;
		&:hover {
			color: $primery-color;
			transition: all 0.2s;
		}
	}
	.col-md-12 {
		.social-network {
			list-style: none;
			display: inline;
			margin-left: 0 !important;
			padding: 0;
			li {
				display: inline;
				margin: 0 5px;

				.icoFacebook {
					display: inline-block;
					position: relative;
					margin: 0 auto 0 auto;
					border-radius: 50%;
					text-align: center;
					width: 50px;
					height: 50px;
					font-size: 20px;
					.uil-facebook-f {
						color: #fff;
						display: inline-block;
						margin: 0;
						line-height: 50px;
						text-align: center;
					}
					&:hover {
						background-color: #3b5998;
						.uil-facebook-f {
							transform: rotate(360deg) !important;
							transition: all 0.7s !important;
						}
					}
				}
				.icoGoogle {
					display: inline-block;
					position: relative;
					margin: 0 auto 0 auto;
					border-radius: 50%;
					text-align: center;
					width: 50px;
					height: 50px;
					font-size: 20px;
					.uil-google {
						color: #fff;
						display: inline-block;
						margin: 0;
						line-height: 50px;
						text-align: center;
					}
					&:hover {
						background-color: #bd3518;
						.uil-google {
							transform: rotate(360deg) !important;
							transition: all 0.7s !important;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: $media-xxl) {
		width: 35%;
	}
	@media screen and (max-width: $media-xl) {
	}
	@media screen and (max-width: $media-lg) {
		width: 50%;
	}
	@media screen and (max-width: $media-md) {
		width: 90%;
	}
	@media screen and (max-width: $media-sm) {
		h1{
			font-weight: 200px;
			font-size: 22px;
		}
		width: 100%;
		border-radius: 0;
		input[type="text"],
		input[type="password"] {
			width: 95%;
			&:focus {
				width: 98%;
			}
		}
		.text-muted {
			margin: 10px 0 15px;
		}
	}
}
