@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixin";
.vc-row {
    height: 940px;
    width: 100%;
    background-image: url("../../../../assets/images/bg-5-1.jpg");
    background-position: center;
    background-size: cover;
    .title {
        margin: 0 auto;
        padding: 55px 0 0;
        width: 90%;
        position: relative;
        .layer-1 {
            font-size: 300px;
            font-family: $secondary-font;
            color: $primery-text-color;
            opacity: 0.45;
        }
        .layer-2 {
            font-size: 80px;
            position: absolute;
            color: $primery-text-color;
            font-family: $secondary-font;
            top: 37%;
            z-index: 10;
        }
        .layer-3 {
            top: 57%;
            font-size: 110px;
            position: absolute;
            z-index: 10;
            font-family: $secondary-font;
            color: $secondary-color;
        }
        @media screen and (max-width: $media-xl) {
            .layer-2 {
                font-size: 74px;
            }
            .layer-3 {
                top: 55%;
                font-size: 102px;
            }
        }
    }
    .image {
        margin: 30px auto 0;
        width: 90%;
        img {
            width: 332px;
            height: 66px;
        }
        h3 {
            font-size: 119px;
            font-family: $primary-font;
            line-height: 120px;
            color: $primery-text-color;
        }
        @media screen and (max-width: $media-xl) {
            h4 {
                font-size: 111px;
            }
        }
    }
    @media screen and (max-width: $media-xl) {
        height: 870px;
    }
    @media screen and (max-width: $media-md) {
        height: 797px;
        .title{
            width: 80%;
            .layer-1{
                font-size: 208px
            }
            .layer-2{
                font-size: 48px;
            }
            .layer-3{
                font-size: 65px;
            }
        }
        .image{
            width: 80%;
            h3{
                font-size: 111px;
            }
        }
    }
}
.products {
    .pro-row {
        @include flex(row, center, normal);
        width: 90%;
        max-width: 1170px;
        margin: -235px auto 0;
        flex-wrap: wrap;
        .product-item{
            height: 540px;
            width: 23vw;
            text-align: center;
            .product-title{
            font-family: $monserat-regular;
            font-size: 18.2px;
            line-height: 23.66px;
            color: $secondary-text-color; 
            }:hover{
                transition: all 0.5s;
                color: $secondary-color;
            }
             .rating{
                margin: 18px 0;
                span {
                padding: 0;
                font-size: 24px;
                line-height: 0;
                color: lightgrey;
                }::before{
                    content: '★';
                }
                .active{
                    color: gold;
                }
               
            }
            .price{
                font-size: 25.2px;
                font-family: $secondary-font;
                color: $secondary-text-color;
                @include flex(row,center,center);
                .uil-dollar-alt{
                    font-size: 14px;
                }
            }
            @media screen and(max-width:$media-xxl) {
                height: 475px;
                img{
                    width: 317px;
                    height: 317px;
                }
                
            }
            @media screen and(max-width:$media-xl) {
                height: 435px;
                img{
                    width: 285px;
                    height: 285px;
                }
                
            }
            @media screen and(max-width:$media-lg) {
                min-height: 576px;
                height: 42vw;
                width: 43vw;
                img{
                    width: 100%;
                    height: 42vw;
                }
                .rating{
                    font-size: 15px;
                }
        
                .price{
                    font-size: 17px;
                }
                
            }
            @media screen and(max-width:$media-md) {
                min-height: 476px;
                height: 32vw;
                width: 43vw;
                img{
                    width: 100%;
                    height: 38vw;
                }
                .rating{
                    font-size: 15px;
                }
        
                .price{
                    font-size: 17px;
                }
                
            }
        }
        @media screen and (max-width: $media-xl) {
            margin: -150px auto 0;
        }
        @media screen and (max-width: $media-lg) {
            margin: -170px auto 0;
        }
    }
    .button-wrapper {
        margin: 1.5em, auto, 0;
        .row {
            margin: 0 auto;
            width: 322px;
            @include flex(row, space-between, normal);
            @media screen and (max-width: $media-xxl) {
                width: 290px;
            }
        }
    }
    .vc-empti-space {
        height: 121px;
    }
}