<section class="container">
<div class="empty-space"></div>
<div class="row">
    <div class="item-wrapper">
        <div class="news-item">
            <img src="assets/images/13.jpg" class="news-image">
            <div class="news-text">
                <a class="title">The Highest Speed</a>
                <p class="data">FEBRUARY 19, 2017</p>
                <p class="description">
                    How do auto mechanics add more power to your vehicle
                </p>
                <a href="" class="more">
                    LEARN MORE 
                    <i class="uil uil-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="news-item">
            <img src="assets/images/12-600x450.jpg" class="news-image">
            <div class="news-text">
                <a class="title">The Highest Speed</a>
                <p class="data">FEBRUARY 19, 2017</p>
                <p class="description">
                    How do auto mechanics add more power to your vehicle
                </p>
                <a href="" class="more">
                    LEARN MORE 
                    <i class="uil uil-angle-right"></i>
                </a>
            </div>
        </div>
       
    </div>
    <div class="item-wrapper-1">
        <div class="news-item">
            <img src="assets/images/11-600x450.jpg" class="news-image">
            <div class="news-text">
                <a class="title">The Highest Speed</a>
                <p class="data">FEBRUARY 19, 2017</p>
                <p class="description">
                    How do auto mechanics add more power to your vehicle
                </p>
                <a href="" class="more">
                    LEARN MORE 
                    <i class="uil uil-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="news-item">
            <img src="assets/images/10-600x450.jpg" class="news-image">
            <div class="news-text">
                <a class="title">The Highest Speed</a>
                <p class="data">FEBRUARY 19, 2017</p>
                <p class="description">
                    How do auto mechanics add more power to your vehicle
                </p>
                <a href="" class="more">
                    LEARN MORE 
                    <i class="uil uil-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
