<section class="container">
    <div class="empty-space"></div>
    <div class="row">
        <div class="item-wrapper">
            <ng-container *ngFor="let item of news;let i = index">
                <div *ngIf="i < 2" style="width: 100%;">
                    <div class="news-item" style="width: 100%;">
                        <img [src]="item.imagePath" class="news-image">
                        <div class="news-text">
                            <p class="title">{{ item.name}}</p>
                            <p class="data">{{item.date}}</p>
                            <a [routerLink]="[ '/news-detail', item.id ]" class="more">
                                LEARN MORE
                                <i class="uil uil-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="item-wrapper-1">
            <ng-container *ngFor="let item of news;let i = index">
                <div *ngIf="i > 1 && i < 4" style="width: 100%;">
                    <div class="news-item" style="width: 100%;">
                        <img [src]="item.imagePath" class="news-image">
                        <div class="news-text">
                            <p class="title">{{ item.name}}</p>
                            <p class="data">{{item.date}}</p>
                            <a [routerLink]="[ '/news-detail', item.id ]" class="more">
                                LEARN MORE
                                <i class="uil uil-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>