@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixin";

.container {
    .empty-space {
        height: 70px;
    }
    .row {
        .item-wrapper {
            @include flex(row, flex-start, normal);
            .news-item {
                @include flex(row, flex-start, normal);
            }
            @media screen and (max-width: $media-md) {
                flex-wrap: wrap;
                :first-child {
                    @include flex(row-reverse, flex-start, normal);
                }
            }
        }
        .item-wrapper-1 {
            @include flex(row, flex-start, normal);
            .news-item {
                @include flex(row-reverse, flex-start, normal);
            }
            @media screen and (max-width: $media-md) {
                flex-wrap: wrap;
                :first-child {
                    @include flex(row-reverse, flex-start, normal);
                }
            }
        }
        .news-item {
            width: 50%;
            height: 305px;
            .news-image {
                width: 50%;
                height: 100%;
            }
            .news-text {
                width: 50%;
                padding: 30px 50px;
                background-color: $primery-text-color;
                .title {
                    font-size: 22px;
                    color: $secondary-text-color;
                    font-family: $monserat-regular;
                    @media screen and (max-width: $media-md) {
                        font-size: 18px;
                    }
                }
                .data {
                    margin: 30px 0 37px;
                    font-size: 13px;
                    color: #b5b5b5;
                    font-family: $secondary-font;
                }
                .description {
                    font-size: 14px;
                    color: $secondary-text-color;
                    font-family: $monserat-regular;
                    line-height: 25px;
                }
                .more {
                    margin: 20px 0 0 0;
                    @include flex(row, flex-start, center);
                    text-decoration: none;
                    font-size: 13px;
                    font-family: $secondary-font;
                    color: $primery-color;
                    .uil-angle-right {
                        font-size: 20px;
                    }
                }
            }
            @media screen and (max-width: $media-xxl) {
                height: 283px;
            }
            @media screen and (max-width: $media-xl) {
                height: 270px;
            }
            @media screen and (max-width: $media-lg) {
                .empty-space {
                    height: 40px;
                }
                height: 196px;
            }
            @media screen and (max-width: $media-md) {
                width: 100%;
                height: 294px;
            }
            @media screen and (max-width: $media-md) {
                width: 100%;
                height: 254px;
            }
        }
    }
}
